@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?g3w0mo');
  src:  url('fonts/icomoon.eot?g3w0mo#iefix') format('embedded-opentype'),
    url('fonts/icomoon.woff2?g3w0mo') format('woff2'),
    url('fonts/icomoon.ttf?g3w0mo') format('truetype'),
    url('fonts/icomoon.woff?g3w0mo') format('woff'),
    url('fonts/icomoon.svg?g3w0mo#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-keyboard_backspace:before {
  content: "\e90a";
}
.icon-favorite:before {
  content: "\e908";
}
.icon-schedule:before {
  content: "\e909";
}
.icon-revision:before {
  content: "\e907";
}
.icon-copy:before {
  content: "\e906";
}
.icon-edit:before {
  content: "\e902";
}
.icon-garbage:before {
  content: "\e903";
}
.icon-gear:before {
  content: "\e904";
}
.icon-view:before {
  content: "\e905";
}
.icon-arrow-right:before {
  content: "\e900";
}
.icon-arrow-down:before {
  content: "\e901";
}
.icon-check_circle:before {
  content: "\e86c";
}
.icon-error:before {
  content: "\e000";
}
.icon-info:before {
  content: "\e88e";
}
.icon-settings:before {
  content: "\e8b8";
}
