.node--type-resource-table {
  display: block;
  margin-top: 77px;

  // Max width settings
  & > div {
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.625rem;
    padding-right: 0.625rem;

    &:not(.has-embed-table) {
      max-width: 75rem;
    }

    &.has-embed-table {
      max-width: 90rem;
    }
  }

  .resource-info {
    width: 100%;
  }

  .copy-text-wrapper {
    position: relative;
    max-width: 194px;
    white-space: nowrap;
    overflow-x: scroll;
    border: 2px solid #c3c5ca;
    border-radius: 8px;
    padding: 10px;
    box-shadow: inset 0 0 0 10px white;
  }

  .copy-text {
    position: relative;
    display: inline-block;
    max-width: 100%;
    color: #4a90e2;
    z-index: -1;
  }

  .copy-text-title {
    margin-top: 20px;
  }

  .tooltip {
    display: inline-block;
    background-color: #575d70;
    color: #c3c5ca;
    padding: 0.3rem 0.5rem;
    border-radius: 8px;
    box-shadow: 0 0 0 1rem rgba(#575d70, 0);
    font-size: 14px;
  }

  .field--name-body > table,
  .field--name-body > .scrollable-wrapper > table {
    text-align: left;
    display: block;
    width: 100vw;
    max-width: 100%;
    position: relative;
    overflow-x: auto;
    border-radius: 0;
    padding-top: 30px;

    thead {
      background: #662d90;
      color: #fff;

      tr th {
        border-bottom: 1px solid #662d90;
        border-right: 1px solid #707070;

        a {
          color: #fff;
          text-decoration: underline;
        }

        a::before {
          border-color: #fff;
        }
      }

      // first header cell Sticky on overflow
      tr:first-child th:first-child {
        position: sticky;
        left: 0;
        background: #662d90;
      }
    }

    &.scrolling {
      thead tr:first-child th:first-child::after {
        content: "";
        height: 100%;
        position: absolute;
        top: 0;
        width: 7px;
        right: -6px;
        background-image: linear-gradient(to right, #000000a1, transparent);
      }

      & > tbody > tr > td:first-child::after {
        content: "";
        height: 101%;
        position: absolute;
        top: 0;
        width: 7px;
        right: -7px;
        background-image: linear-gradient(to right, #00000075, transparent);
      }
    }

    & > tbody {
      & > tr {
        border-bottom: 1px solid #c3c5ca;

        &:nth-child(2n+1) {
          background-color: #f7f7f8;
        }

        &:nth-child(2n+2) {
          background-color: #fff;
        }

        td:not(:last-child) {
          border-right: 1px solid #c3c5ca;
        }

        // first row cell sticky when overflow
        & > td:first-child {
          z-index: 10;
          position: sticky;
          left: 0;
          background: inherit;
          border-bottom: 1px solid #c3c5ca;
        }
      }

      a {
        line-height: inherit;
        color: #1779ba;
        text-decoration: none;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }

      td.has-nested-table {
        padding: 0;
        position: relative;

        p:empty {
          background-color: red;
        }

        table {
          margin: 0;
          height: 100%;

          tbody {
            background-color: inherit;
            display: flex;
            flex-direction: column;
            height: 100%;

            tr {
              display: flex;
              // flex: 1 1 auto;

              td {
                border-bottom: 0;
              }
            }

            tr:last-child {
              border-bottom: 0;

              td {
                border-bottom: 0;
              }
            }
          }
        }
      }
    }
  }
}

.node--type-resource-table .show-scroll-hint {
  position: relative;

  table.scrollable {
    cursor: grab;
    overflow: auto;
  }

  .scroll-hint {
    padding-bottom: 70px;
    display: block;

    &::before {
      content: "Swipe screen";
      width: auto;
      height: 60px;
      display: flex;
      align-items: center;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 0;
      background-repeat: no-repeat;
      background-position: 5px 11px;
      background-size: 30px;
      background-image: url("../images/swipe.png");
      padding-left: 40px;
      font-size: 13px;
    }
  }
}

// New resource table taxonomy
.resource-id-417 {
  color: #8ba4d4;

  &::before {
    background-color: #8ba4d4;
  }
}

// Form base styles
.webform-submission-form {
  max-width: 75rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.625rem;
  padding-right: 0.625rem;

  @media print, screen and (min-width: 48em) {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  .title h1 {
    border-bottom: 1px solid #c3c5ca;
    padding-bottom: 0.5rem;
    margin-bottom: 1.5rem;
  }

  .form-item {
    label {
      font-weight: 600;
    }
  }

  #edit-singe-point-contact {
    padding: 20px;
    border-radius: 20px;
    border: 1px solid rgba(64, 64, 64, 0.3);

    legend {
      margin-bottom: 0;

      .fieldset-legend {
        font-weight: 600;
        font-size: 18px;
      }
    }
  }

  details.form-wrapper,
  .select2-selection,
  input[type="email"],
  input[type="tel"],
  input[type="text"],
  input[type="textarea"] {
    background: #fff;
    height: calc(2em + 0.75rem + 2px);
    padding: 0.5rem 1rem;
    border-color: rgba(64, 64, 64, 0.3);
    border-radius: 30px;
    display: block;
    width: 100%;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    border: 1px solid rgba(64, 64, 64, 0.3);
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }

  // Select2 overrides
  .select2-selection {
    .select2-selection__arrow {
      top: 50%;
      transform: translateY(-50%);
      right: 10px;
    }
  }

  details.form-wrapper {
    height: auto;

    summary {
      .details-title {
        font-weight: 600;
        color: #000;
      }
      &::marker {
        color: #888;
      }
      &::before {
        display: none;
      }
    }
  }

  input[type="submit"] {
    display: inline-block;
    position: relative;
    font-size: 0.75rem;
    line-height: 1.5;
    font-weight: 600;
    appearance: none;
    margin: 1rem 0;
    color: #4a90e2;
    transition: 0.4s ease background, 0.4s ease color, 0.4s ease border;
    text-align: center;
    padding: 13px;
    min-width: 194px;
    border-radius: 8px;
    background: transparent;
    border: 2px solid #4a90e2;

    &[value="Submit"] {
      color: #ffff;
      background: #4a90e2;

      &:hover {
        background: transparent;
        color: #4a90e2;
      }
    }
  }

  // Institution entities, less than 5
  #institution_table {
    table {
      thead {
        display: none;
      }

      tbody {
        tr {
          &:hover {
            background-color: transparent;
          }

          td {
            padding: 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            .form-item {
              width: 100%;

              @media print, screen and (min-width: 48em) {
                width: 49%;
              }

              &:first-child {
                width: 100%;
              }

              .select2-container {
                width: 100% !important;
              }
            }
          }
        }
      }
    }
  }
}

.page-node-type-resource-table {
  .resource-info {
    display: flex;
    flex-flow: row wrap;
    flex-basis: auto;
    max-width: 100%;
    font-size: 12px;
    .field--name-field-event-type,
    .field--name-field-resource-type {
      margin-right: 8px;
    }
    .field--name-field-date,
    .date-created {
      color: #575d70;
    }
    .field--name-field-topic {
      position: relative;
      color: #575d70;
      @media print, screen and(min-width: 48em) {
        padding-left: 8px;
        margin-left: 8px;
        &:after {
          content: '';
          position: absolute;
          top: 50%;
          left: 0;
          width: 1px;
          height: 12px;
          background-color: #575d70;
          transform: translateY(-50%);
        }
      }
      .field__item {
        display: inline-block;
        &:nth-last-of-type(1n + 2) {
          &:after {
            content: ',';
            display: inline-block;
          }
        }
      }
    }
  }
  .event-content,
  .resources-content {
    max-width: 100%;
    @media print, screen and(min-width: 48em) {
      padding-right: rem-calc(76);
      width: 69%;
    }
  }
  .event-details,
  .resources-details {
    margin-top: 28px;
    @media print, screen and(min-width: 48em) {
      width: 29%;
      margin-top: 0;
      padding-top: 0;
    }
  }
  .date {
    + .date {
      margin-top: 15px;
    }
  }
  .field--name-field-p-resources {
    .field__item {
      margin-top: 40px;
    }
  }
  .copy-text-title {
    margin-top: 41px;
  }
  .tooltip {
    display: inline-block;
    background-color: #575d70;
    color: #c3c5ca;
    padding: .3rem .5rem;
    border-radius: 8px;
    animation: copy 2.5s infinite;
    box-shadow: 0 0 0 1rem rgba(#575d70, 0);
    font-size: 14px;
  }
}

@media print, screen and (min-width: 64em) {
  .region-header .menu--util-navigation {
    margin-right: 0;
    width: 100%;
  }
}

.paragraph--type--simple-card .heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.paragraph--type--simple-card:focus {
  display: none;
}

.paragraph--type--simple-card a:focus .heading{
  border: 2px solid #e30c5e;
  border-radius: 10px;
}

.hamburger .menu-button:focus {
  outline: auto #e30c5e;
  outline-offset: 10px;
}

/*
  Hide and show the search bar for the select lists.
 */
.select2-search--dropdown {
  max-height: 0;
  overflow: hidden;
  padding: 0;

  input {
    margin: 4px 4px 4px 1rem;
  }

  &.searchable {
    max-height: 999px;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.view-resources.view-display-id-page_events_past > .view-content article.resource-private, .view-resources.view-display-id-page_events > .view-content article.resource-private, .view-resources.view-display-id-page_resources > .view-content article.resource-private, .view-resources.view-display-id-block_past_events > .view-content article.resource-private, .view-resources.view-display-id-block_upcoming_events > .view-content article.resource-private, .view-resources.view-display-id-block_latest_resources > .view-content article.resource-private, .view-events.view-display-id-page_events_past > .view-content article.resource-private, .view-events.view-display-id-page_events > .view-content article.resource-private, .view-events.view-display-id-page_resources > .view-content article.resource-private, .view-events.view-display-id-block_past_events > .view-content article.resource-private, .view-events.view-display-id-block_upcoming_events > .view-content article.resource-private, .view-events.view-display-id-block_latest_resources > .view-content article.resource-private {
  opacity: .75;
}

.share-url-btn {
  cursor: pointer;
  position: relative;
  max-width: 12.125rem;
  white-space: nowrap;
  overflow-x: scroll;
  border: 2px solid #c3c5ca;
  border-radius: 8px;
  padding: 0.625rem;
  min-width: 100px;
  color: #4a90e2;
  transition: color .3s, border .3s;
  font-weight: 900;

  &.copied {
    border-color: #06ad06;
    color: #06ad06;
  }
}
