////
/// New typography styles
////

h1,
h2,
h3,
h4,
h5,
h6,
.field--name-field-header {
  font-family: 'News Cycle', sans-serif;
  color: $dark-gray;
  font-weight: 700;
  .paragraph--type--simple-card & {
    color: $white;
    &.field--name-field-header {
      color: $white;
    }
  }
}