
.gu-unselectable {
}

// The copied paragraph element
.gu-mirror {
  overflow: hidden;
}

// Paragraph admin draggable item styles

// Each draggable paragraphs item
.admin-paragraphs-draggable-item {
  position: relative;
  padding: 50px 15px 10px 40px;
  border: 1px solid #bfbfbf;
  margin-bottom: 5px;
  border-radius: 3px;

  &:after {
    content: '';
    display: block;
    clear: both;
  }

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    height: 40px;
    width: 100%;
    background: $paragraphs-topbar-bg-color;
    border-bottom: 1px solid #fff;
  }

  & > .dragula-handle {
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    height: 100%;
    width: 32px;
    cursor: move;
  }
}


// Wrapper containing the top level elements of the draggable paragraphs item (title, content, weight, actions)
.admin-paragraphs-draggable-item > div > .form-wrapper,
.admin-paragraphs-draggable-item > .ajax-new-content > div > .form-wrapper,
.admin-paragraphs-single > div > .form-wrapper,
.admin-paragraphs-single > .ajax-new-content > div > .form-wrapper {
  margin: 0;
  div {
    float: none;
  }
  & > em {
    display: inline-block;
    margin: 3px 0;
    padding: 2px;
    border-radius: 3px;
    background-color: rgba($paragraphs-save-warning-color, 0.1);
    color: $paragraphs-save-warning-color;
    border: 2px solid $paragraphs-save-warning-color;
    font-size: 12px;
  }
  & > .js-form-type-select {
    display: none;
  }
  & > .paragraph-type-top {
    margin-top: 0;
    position: static;
    & > .paragraphs-dropbutton-wrapper {
      position: absolute;
      display: block;
      top: 5px;
      left: 40px;
      .remove {
        margin-left: 10px;
        input {
          background: #ec5959;
          color: #fff;

          &:hover, &:active {
            color: #fff !important;
            background: darken(#ec5959, 10%) !important;
          }
        }
      }
    }
    .dropbutton-wrapper {
      margin: 0;
      position: relative;
      .dropbutton {
        display: inline-block;
        position: relative;
        overflow: visible;
        padding-left: 40px;
        .dropbutton-toggle {
          display: none;
        }
      }
      .ajax-progress-throbber {
        position: absolute;
        left: calc(100% + 5px);
        top: 2px;
        padding: 2px 2px 2px 22px;
        z-index: 1000;
        background: transparent;
        .throbber {
          display: block;
          position: absolute;
          height: 20px;
          width: 20px;
          top: 0;
          left: 0;
          background-image: url($ajax-loader);
          animation: rotate 700ms linear infinite normal;
        }
      }
      &.open {
        max-width: none;
        z-index: 80;
        .dropbutton-widget {
          width: auto;
          max-width: none;
        }
      }
    }
    .secondary-action {
      display: block;
      border-top: 0 none;
    }
    .dropbutton-action {
      background: #fff;
      border: 1px solid #ccc;
      display: inline-block;
    }
    .paragraph-type-title {
      margin-top: 0;
      float: none;
    }
    .dropbutton-widget {
      position: relative;
      padding-right: 0;
      background: none !important;
      border: 0 none;
    }
    .dropbutton-wrapper.open {
      max-width: none;
      z-index: 80;
      .dropbutton-widget {
        width: auto;
        max-width: none;
      }
    }
  }
}

// Color scheme
// 1st level
.admin-paragraphs-draggable-item {
  background: $level-1-bg-color;

  & > .dragula-handle {
    background-color: $level-1-color;
    &:before,
    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      z-index: 80;
      transition: opacity 150ms linear;
    }
    &:before {
      opacity: 0.4;
      background: #fff;
    }
    &:after {
      opacity: 0.6;
      background-image: repeating-linear-gradient(
          45deg,
          #fff,
          #fff 5px,
          #bbb 5px,
          #bbb 10px
      );
    }
    &:hover:before {
      opacity: 0;
    }
  }
}

// 2nd level
.admin-paragraphs-draggable-item .admin-paragraphs-draggable-item {
  background: $level-2-bg-color;
  & > .dragula-handle {
    background-color: $level-2-color;
  }
}

// 3rd level
.admin-paragraphs-draggable-item .admin-paragraphs-draggable-item {
  background: $level-3-bg-color;
  & > .dragula-handle {
    background-color: $level-3-color;
  }
}

// A child paragraph field form with multiple values
.admin-paragraphs-draggable-item .admin-paragraphs-multiple {
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 10px;
  background: rgba(#fff, 0.8);
}

// Paragraph preview view mode stuff
.paragraph--view-mode--preview {
  font-size: 90%;
}

// Single paragraph value form styles to handle buttons layout and such
.admin-paragraphs-single {
  position: relative;
  padding: 40px 10px 10px 10px;
  border-radius: 3px;
  border: 1px solid #ccc;
  background: rgba(#fff, 0.8);
  &.form-item {
    margin-top: 0;
  }
  input.link.button.paragraphs-previewer.form-submit {
    left: 10px;
  }
}

// Paragraphs icon bar
.paragraphs-icon-bar {
  display: none;
}
.admin-paragraphs-draggable-item > div > .form-wrapper > .paragraphs-icon-bar {
  display: block;
  position: absolute;
  top: 5px;
  right: 5px;
  border: 1px solid #ccc;
  padding: 2px 5px;
  background: rgba(#fff, 0.4);
  span {
    display: inline-block;
    font-size: 20px;
    margin-left: 5px;
    &:first-child {
      margin-left: 0;
    }
  }
}